.pt-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.pt-row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 576px) {

  .pt-col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .pt-col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .pt-col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .pt-col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .pt-col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .pt-col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .pt-col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .pt-col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .pt-col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .pt-col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .pt-col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .pt-col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .pt-offset-sm-0 {
    margin-left: 0;
  }

  .pt-offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .pt-offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .pt-offset-sm-3 {
    margin-left: 25%;
  }

  .pt-offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .pt-offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .pt-offset-sm-6 {
    margin-left: 50%;
  }

  .pt-offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .pt-offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .pt-offset-sm-9 {
    margin-left: 75%;
  }

  .pt-offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .pt-offset-sm-11 {
    margin-left: 91.6666666667%;
  }

}

@media (min-width: 768px) {

  .pt-col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .pt-col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .pt-col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .pt-col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .pt-col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .pt-col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .pt-col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .pt-col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .pt-col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .pt-col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .pt-col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .pt-col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .pt-offset-md-0 {
    margin-left: 0;
  }

  .pt-offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .pt-offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .pt-offset-md-3 {
    margin-left: 25%;
  }

  .pt-offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .pt-offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .pt-offset-md-6 {
    margin-left: 50%;
  }

  .pt-offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .pt-offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .pt-offset-md-9 {
    margin-left: 75%;
  }

  .pt-offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .pt-offset-md-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 992px) {

  .pt-col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .pt-col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .pt-col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .pt-col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .pt-col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .pt-col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .pt-col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .pt-col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .pt-col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .pt-col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .pt-col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .pt-col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .pt-offset-lg-0 {
    margin-left: 0;
  }

  .pt-offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .pt-offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .pt-offset-lg-3 {
    margin-left: 25%;
  }

  .pt-offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .pt-offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .pt-offset-lg-6 {
    margin-left: 50%;
  }

  .pt-offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .pt-offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .pt-offset-lg-9 {
    margin-left: 75%;
  }

  .pt-offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .pt-offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 1200px) {

  .pt-col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .pt-col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .pt-col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .pt-col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .pt-col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .pt-col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .pt-col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .pt-col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .pt-col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .pt-col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .pt-col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .pt-col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .pt-offset-xl-0 {
    margin-left: 0;
  }

  .pt-offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .pt-offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .pt-offset-xl-3 {
    margin-left: 25%;
  }

  .pt-offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .pt-offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .pt-offset-xl-6 {
    margin-left: 50%;
  }

  .pt-offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .pt-offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .pt-offset-xl-9 {
    margin-left: 75%;
  }

  .pt-offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .pt-offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 1400px) {

  .pt-col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .pt-col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .pt-col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .pt-col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .pt-col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .pt-col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .pt-col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .pt-col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .pt-col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .pt-col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .pt-col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .pt-col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .pt-offset-xxl-0 {
    margin-left: 0;
  }

  .pt-offset-xxl-1 {
    margin-left: 8.3333333333%;
  }

  .pt-offset-xxl-2 {
    margin-left: 16.6666666667%;
  }

  .pt-offset-xxl-3 {
    margin-left: 25%;
  }

  .pt-offset-xxl-4 {
    margin-left: 33.3333333333%;
  }

  .pt-offset-xxl-5 {
    margin-left: 41.6666666667%;
  }

  .pt-offset-xxl-6 {
    margin-left: 50%;
  }

  .pt-offset-xxl-7 {
    margin-left: 58.3333333333%;
  }

  .pt-offset-xxl-8 {
    margin-left: 66.6666666667%;
  }

  .pt-offset-xxl-9 {
    margin-left: 75%;
  }

  .pt-offset-xxl-10 {
    margin-left: 83.3333333333%;
  }

  .pt-offset-xxl-11 {
    margin-left: 91.6666666667%;
  }

}
